---
layout: base.njk
title: Swati Sharma
---

<div class="welcome">
    <img src="assets/cover.jpg" alt="Swati Sharma"></img>
    <h2>{{ greeting }}</h2>
    
    <div class="call-to-action">
        <a class="primary" href="#">{{ callToAction }}</a><br/>
        <p>Also: <i class="bi bi-shop"></i> I sell interesting hand-made things at &nbsp;<a href="#"><i class="bi bi-instagram"></i> bhayankari_devi</a></p>
    </div>
</div>

<hr/>

<div class="collaborators">
    <h3>I've worked with</h3>
    <div class="logos">
        {% for collaborator in keyCollaborators %}
            <img src="{{ collaborator.logo }}" alt="{{ collaborator.name }}">
        {% endfor %} 
    </div>
    <p>and several others like {% for collaborator in otherCollaborators %} <a href="{{ collaborator.link }}">{{ collaborator.name }}</a>{% if not loop.last %}, {% endif %} {% endfor %}</p>
</div>

<hr/>

<div class="services">
    <h3>I can help you with</h3>
    <table>
        <tr>
            <td width="5%"><i class="bi bi-1-circle"></i></td>
            <td width="25%">Research and strategy</td>
            <td width="70%">Qualitative / Market research; Business discovery / Demography; Product / Service innovation</td>
        </tr>
        <tr>
            <td width="5%"><i class="bi bi-2-circle"></i></td>
            <td width="25%">User experience</td>
            <td width="70%">User flows / Journey mapping; Heurisitic evaluation / User testing; User interviews / Usability studies</td>
        </tr>
        <tr>
            <td width="5%"><i class="bi bi-3-circle"></i></td>
            <td width="25%">Creative direction</td>
            <td width="70%">Campaign / Visual narratives; Branding and Identity; Illustration / Multimedia art direction</td>
        </tr>
        <tr>
            <td width="5%"><i class="bi bi-4-circle"></i></td>
            <td width="25%">Design and Visualization</td>
            <td width="70%">Wireframing / Prototyping; UI graphics / Asset design; Data visualization</td>
        </tr>
        <tr>
            <td width="5%"><i class="bi bi-5-circle"></i></td>
            <td width="25%">Tools and Technologies</td>
            <td width="70%">Figma / Framer; Wix / Squarespace / Ghost; HTML / CSS / JS</td>
        </tr>
    </table>
    <p>Also: Checkout my studio — <a href="#">M56</a> for a wider range of design related services.</p>
</div>


<hr/>

<div class="tags">
    <a href="#" class="active" data-tag="all">All</a>
    <a href="#" data-tag="art-direction">Art direction</a>
    <a href="#" data-tag="archiving">Archiving</a>
    <a href="#" data-tag="diy">DIY</a>
    <a href="#" data-tag="making">Making</a>
    <a href="#" data-tag="facilitation">Facilitation</a>
    <a href="#" data-tag="photography">Photography</a>
    <a href="#" data-tag="research">Research</a>
</div>

<div class="grid">
  {% for post in collections.posts %}
    <div class="grid-item" data-category="{{ post.data.category }}">
      <a href="{{ post.url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
        <div class="overlay">
          <p>{{ post.data.title }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<div class="welcome">
    <div class="call-to-action">
        <a class="primary" href="#">{{ callToAction }}</a><br/>
        <p>Also: <i class="bi bi-shop"></i> I sell interesting hand-made things at &nbsp;<a href="#"><i class="bi bi-instagram"></i> bhayankari_devi</a></p>
    </div>
</div>
