/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Outfit:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;1,6..72,200;1,6..72,300;1,6..72,400&family=Outfit:wght@300;400;500;700&display=swap');

:root {
    --primary: #344e41;
    --secondary: #3a5a40;
    --tertiary: #588157;
    --quaternary: #a3b18a;
    --light: #dad7cd;
}

* {
    box-sizing: border-box;
    font-weight: 300;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 64px;
    padding: 0;
    font-size: 16px;
}

p {
    margin: 0;
    color: #777;
    line-height: 1.5;
}

h1 {
    font-family: 'Newsreader', serif;
    font-weight: 400;
    font-size: 21px;
    margin: 0;
    color: var(--tertiary);
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    color: #777;
    text-align: center;
    padding: 1rem 0;
}

.logo {
    width: 72px;
    transition: all 1s;
    opacity: 0.9;
}

.logo:hover {
    opacity: 1;
    scale: 1.05;
    transition: all 1s;
}

.logo-footer {
    height: 48px;
    transition: all 1s;
    opacity: 0.9;
}

.logo-footer:hover {
    opacity: 1;
    scale: 1.05;
    transition: all 1s;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.2s;
}

nav a:hover {
    color: var(--tertiary);
    transition: color 0.2s;
}

.welcome  {
    text-align: center;
    max-width: 1200px;
    margin: 64px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome img {
    width: 100%;
    height: auto;
    margin: 2rem auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0rem auto;
    max-width: 1000px;
}

.content p {
    font-size: 16px;
    font-weight: 300;
    margin: 2rem auto 3rem auto;
    color: #000;
    max-width: 600px;
    text-align: left;
}

.content img {
    width: 100%;
    height: auto;
    margin: 2rem auto;
}

h2 {
    color: var(--secondary);
    font-size: 54px;
    line-height: 1.3;
    font-weight: 300;
    font-family: 'Newsreader', serif;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content h2 {
    font-size: 33px;
}

.welcome h2 {
    max-width: 1200px;
}

.welcome p {
    font-size: 21px;
    font-weight: 200;
    margin: 2rem auto 3rem auto;
    color: #000;
    max-width: 1000px;
    text-align: left;
}


.call-to-action p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    color: #000;
    max-width: 600px;
}

.welcome {
    display: flex;
    justify-content: center;
    margin: 2rem auto 0rem auto;
    align-items: center;
    column-gap: 1rem;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 0rem auto;
    align-items: center;
    column-gap: 1rem;
}


.welcome a {
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary);
    transition: color 0.2s;
    font-size: 16px;
}

a:hover {
    color: var(--tertiary);
}

.welcome a:hover {
    color: var(--primary);
    transition: color 0.2s;
}

.welcome a.primary {
    color: var(--light);
    background-color: var(--primary);
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    transition: all 1s;
    opacity: 0.9;
}

.welcome a.primary:hover {
    opacity: 1;
    scale: 1.05;
    transition: all 1s;
}

.collaborators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem auto 0rem auto;
    max-width: 600px;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem auto 0rem auto;
    max-width: 600px;
}

.collaborators h3, .services h3 {
    color: #333;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.collaborators p, .services p {
    color: #777;
    text-align: center;
}

.collaborators a, .services a {
    color: var(--tertiary);
    font-weight: 500;
    text-decoration: none;
}

.logos {
    display: flex;
    justify-content: center;
    column-gap: 0rem;
    margin: 2rem 0 2rem 0;
    max-width: 700px;
    overflow: hidden;
}

.logos img {
    width: 33%;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    margin: 1rem;
    width: calc(33% - 2rem);
    transition: all 1s;
    overflow: hidden; /* Add overflow: hidden */
}

.grid-item::before {
    content: "";
    display: block;
    padding-bottom: 100%; /* Set padding-bottom to same value as width */
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item:hover img {
    transform: scale(1.05);
    transition: all 1s;
    /* Blur filter */
    filter: blur(12px);
}

.grid-item:hover .overlay {
    opacity: 0.9;
    transition: all 1s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    transition: all 1s;
}

.overlay p {
    font-size: 16px;
    color: var(--primary);
    margin-top: 0;
    margin-bottom: 0;
}

.tags {
    display: flex;
    justify-content: center;
    margin: 0 0 1.5em 0;
}

.tags a {
    margin: 0 1rem;
    font-size: 14px;
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tags a.active {
    color: #000;
}

footer {
    color: #777;
    text-align: center;
    margin-top: 4rem;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

hr {
    background: none;
    border: none;
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 64px auto 64px auto;
}

.services table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services table td {
    padding: 1rem;
    font-size: 16px;
    text-align: left;
    color: #777;
    margin-right: 10px;
}

/* Select 2nd column */
.services table td:nth-child(2) {
    text-align: left;
    color: var(--primary);
    font-weight: 500;
}

.services table tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 768px) {

    body {
        margin: 32px;
    }

    .grid-item {
        margin: 1rem;
        width: calc(50% - 2rem);
    }

    .logos {
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .tags {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tags a {
        margin: 0.5rem;
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 16px;
    }

    .logos {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .grid-item {
        margin: 1rem;
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}